USE [master]
GO
/****** Object:  Database [IPSArchive]    Script Date: 28.05.2020 8:22:40 ******/
CREATE DATABASE [IPSArchive]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPSArchive', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\IPSArchive.mdf' , SIZE = 400384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IPSArchive_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\IPSArchive.ldf' , SIZE = 52416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPSArchive].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [IPSArchive]
GO
/****** Object:  User [Влад]    Script Date: 28.05.2020 8:22:40 ******/
CREATE USER [Влад] FOR LOGIN [Владислав-ПК\Владислав] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Fund]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fund](
	[Fund_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fund_Num] [int] NOT NULL,
	[Fund_Lit] [varchar](5) NULL,
	[Fund_Name] [varchar](2000) NULL,
	[Inv_Count] [int] NULL,
	[Year_St] [varchar](4) NULL,
	[Year_End] [varchar](4) NULL,
	[Comment] [varchar](4000) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Fund] PRIMARY KEY CLUSTERED 
(
	[Fund_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Inv_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fund_ID] [int] NOT NULL,
	[Inv_Num] [int] NOT NULL,
	[Inv_Lit] [varchar](5) NULL,
	[Inv_Vol] [int] NULL,
	[Inv_Name] [varchar](2000) NULL,
	[Year_St] [varchar](4) NULL,
	[Year_End] [varchar](4) NULL,
	[Dates] [varchar](150) NULL,
	[Unit_Count] [int] NOT NULL,
	[Comment] [varchar](4000) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Inv_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table 1]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table 1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text column] [text] NULL,
	[int column] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Unit_ID] [int] IDENTITY(1,1) NOT NULL,
	[Unit_Num] [int] NULL,
	[Unit_Lit] [varchar](10) NULL,
	[Dates] [varchar](150) NULL,
	[Unit_Name] [varchar](4000) NULL,
	[P_Count] [int] NULL,
	[DateCreate] [datetime] NULL,
	[Comment] [varchar](max) NULL,
	[Inv_ID] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Unit_Type] [int] NULL,
	[Year_St] [int] NULL,
	[Year_End] [int] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Unit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitTypes]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_UnitTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28.05.2020 8:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Surname] [varchar](255) NOT NULL,
	[Login] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Status] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fund] ON 

INSERT [dbo].[Fund] ([Fund_ID], [Fund_Num], [Fund_Lit], [Fund_Name], [Inv_Count], [Year_St], [Year_End], [Comment], [Deleted]) VALUES (16, 165, N'', N'Фонд 165', 3, N'1961', N'1993', NULL, 0)
INSERT [dbo].[Fund] ([Fund_ID], [Fund_Num], [Fund_Lit], [Fund_Name], [Inv_Count], [Year_St], [Year_End], [Comment], [Deleted]) VALUES (17, 135, N'', N'Фонд 135', 1, N'1977', N'1977', NULL, 0)
INSERT [dbo].[Fund] ([Fund_ID], [Fund_Num], [Fund_Lit], [Fund_Name], [Inv_Count], [Year_St], [Year_End], [Comment], [Deleted]) VALUES (18, 156, N'', N'Фонд 156', 1, N'1972', N'1974', NULL, 0)
SET IDENTITY_INSERT [dbo].[Fund] OFF
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([Inv_ID], [Fund_ID], [Inv_Num], [Inv_Lit], [Inv_Vol], [Inv_Name], [Year_St], [Year_End], [Dates], [Unit_Count], [Comment], [Deleted]) VALUES (18, 16, 1, N'', NULL, N'Опись 1', N'1961', N'1993', NULL, 1119, NULL, 0)
INSERT [dbo].[Inventory] ([Inv_ID], [Fund_ID], [Inv_Num], [Inv_Lit], [Inv_Vol], [Inv_Name], [Year_St], [Year_End], [Dates], [Unit_Count], [Comment], [Deleted]) VALUES (19, 16, 3, N'', NULL, N'Опись 3', N'1980', N'1982', NULL, 2, NULL, 0)
INSERT [dbo].[Inventory] ([Inv_ID], [Fund_ID], [Inv_Num], [Inv_Lit], [Inv_Vol], [Inv_Name], [Year_St], [Year_End], [Dates], [Unit_Count], [Comment], [Deleted]) VALUES (20, 17, 1, N'', NULL, N'Опись 1', N'1977', N'1977', NULL, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Unit_ID], [Unit_Num], [Unit_Lit], [Dates], [Unit_Name], [P_Count], [DateCreate], [Comment], [Inv_ID], [Deleted], [Unit_Type], [Year_St], [Year_End]) VALUES (293, 1963, N'', N'06.10.1982 - 28.04.1983', N'Протоколы межведомственной комиссии 1982-1983 гг.  ', 200, CAST(N'2016-01-22T16:36:24.293' AS DateTime), N'', 18, 0, NULL, 1982, 1983)
INSERT [dbo].[Unit] ([Unit_ID], [Unit_Num], [Unit_Lit], [Dates], [Unit_Name], [P_Count], [DateCreate], [Comment], [Inv_ID], [Deleted], [Unit_Type], [Year_St], [Year_End]) VALUES (294, 1962, N'', N'05.05.1982 - 29.09.1982', N'Протоколы № 2 межведомственной комиссии (№ 16-36)  ', 198, CAST(N'2016-01-22T16:36:26.040' AS DateTime), N'', 18, 0, NULL, 1982, 1982)
INSERT [dbo].[Unit] ([Unit_ID], [Unit_Num], [Unit_Lit], [Dates], [Unit_Name], [P_Count], [DateCreate], [Comment], [Inv_ID], [Deleted], [Unit_Type], [Year_St], [Year_End]) VALUES (295, 1961, N'', N'06.01.1982 - 28.04.1982', N'Протоколы межведомственной комиссии (№ 1-15). Журнал № 1 регистрации приема граждан на 1982 год  ', 97, CAST(N'2016-01-22T16:36:26.650' AS DateTime), N'', 18, 0, NULL, 1982, 1982)
GO
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[UnitTypes] ON 

INSERT [dbo].[UnitTypes] ([ID], [Name]) VALUES (1, N'Акт')
INSERT [dbo].[UnitTypes] ([ID], [Name]) VALUES (2, N'Решение')
SET IDENTITY_INSERT [dbo].[UnitTypes] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([ID], [Name], [Surname], [Login], [Password], [Status]) VALUES (1, N'Admin', N'Admin', N'Admin', N'12345', N'1')
INSERT [dbo].[users] ([ID], [Name], [Surname], [Login], [Password], [Status]) VALUES (2, N'User', N'User', N'User', N'123', N'0')
INSERT [dbo].[users] ([ID], [Name], [Surname], [Login], [Password], [Status]) VALUES (3, N'Vlad', N'Korsunov', N'Vlad', N'qwerty123', N'1')
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[Fund] ADD  CONSTRAINT [DF_Fund_Fund_Lit]  DEFAULT ('') FOR [Fund_Lit]
GO
ALTER TABLE [dbo].[Fund] ADD  CONSTRAINT [DF_Fund_Inv_Count]  DEFAULT ((0)) FOR [Inv_Count]
GO
ALTER TABLE [dbo].[Fund] ADD  CONSTRAINT [DF_Fund_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Inv_Lit]  DEFAULT ('') FOR [Inv_Lit]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Unit_Count]  DEFAULT ((0)) FOR [Unit_Count]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_Unit_Lit]  DEFAULT ('') FOR [Unit_Lit]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_P_Count]  DEFAULT ((0)) FOR [P_Count]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_DateCreate]  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_Comment]  DEFAULT ('') FOR [Comment]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Fund] FOREIGN KEY([Fund_ID])
REFERENCES [dbo].[Fund] ([Fund_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Fund]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Inventory] FOREIGN KEY([Inv_ID])
REFERENCES [dbo].[Inventory] ([Inv_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Inventory]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_UnitTypes] FOREIGN KEY([Unit_Type])
REFERENCES [dbo].[UnitTypes] ([ID])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_UnitTypes]
GO
USE [master]
GO
